@import "tailwindcss";

@theme {
  --color-background: #131317;
  --color-surface: #131317;
  --color-surface-dim: #131317;
  --color-surface-bright: #39393d;
  --color-surface-container-lowest: #0e0e12;
  --color-surface-container-low: #1b1b1f;
  --color-surface-container: #1f1f23;
  --color-surface-container-high: #2a292e;
  --color-surface-container-highest: #353439;
  --color-on-surface: #e4e1e7;
  --color-on-surface-variant: #d1c5ac;
  --color-inverse-surface: #e4e1e7;
  --color-inverse-on-surface: #303034;
  --color-outline: #9a9078;
  --color-outline-variant: #4e4633;
  --color-surface-tint: #f0c110;

  --color-primary: #ffe5a0;
  --color-on-primary: #3d2f00;
  --color-primary-container: #f5c518;
  --color-on-primary-container: #695200;
  --color-primary-fixed: #ffe08b;
  --color-primary-fixed-dim: #f0c110;
  --color-on-primary-fixed: #241a00;
  --color-on-primary-fixed-variant: #584400;

  --color-secondary: #d0bcff;
  --color-on-secondary: #3c0091;
  --color-secondary-container: #571bc1;
  --color-on-secondary-container: #c4abff;
  --color-secondary-fixed: #e9ddff;
  --color-secondary-fixed-dim: #d0bcff;
  --color-on-secondary-fixed: #23005c;

  --color-tertiary: #ceebff;
  --color-on-tertiary: #00354a;
  --color-tertiary-container: #89d4ff;
  --color-on-tertiary-container: #005c7d;

  --font-display: 'Outfit', sans-serif;
  --font-body: 'Inter', sans-serif;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #131317;
  color: #e4e1e7;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
